body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
header nav {
    width: 100%;
    overflow: auto ;
    height: 50px;
}
header nav a{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 16.6%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}
header, footer{
 background-color: #C89116;
}
main {
    display: flex;
    width: 85%;
    flex: 1;
    flex-direction: column;
}
.product{
    border:2px  #C89116;
    margin: 10px;
    justify-content: center;
}
.product figure{
    height: 200px;
    width: 200px;
    text-align: center;
}
.productImage{
    float:left;
    width:40% ;
}
.productDescription{
    float:right;
    width: 50%;
}
.product-name{
    text-align: left ;
}
.product_price{
    text-align: right ;
}
.flex-container {
    margin: 100px;
    display: flex;
}
.flex-container nav{
    width: 15%;
    overflow-y: auto;
}
.error{
    border-color: red;
    background-color: #ffdddd;
    color: red;
}
.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.required{
    background-color: #FFF3CD;
}
input[type="text"]:focus {
    background-color: #D0A440;
}
th{
    text-align: center;
    background-color: #C89116;
    color: white;
}
td{
    background-color: white;
    color:black;
    text-align: center;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
a:link{
    color:white;
    text-decoration: underline;
}
a:visited{
    color: #344e69;
    text-decoration: underline;
}
a:hover{
    color: #C89116;
    text-decoration: none;
}
#use external class for external links
a.external,
a.external:visited {
    color: #e67e22; 
    text-decoration: underline; 
}

a.external:hover {
    color: #d35400; 
    text-decoration: none;
}
button{
    border: none;
    color: black;
    background: none;
    cursor: pointer;
}
.submission-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 2px solid #C89116; /* Border style */
    background-color: #C89116; /* Default background color */
    color: #fff; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Transition for smooth color change */
}
.submission-button:hover {
    background-color: #D0A440; /* Even darker background color on click */
    color: #fff; /* Text color on click */
}

/* Image style */
.submission-button img {
    width: 20px; /* Adjust the width as needed */
    margin-right: 8px; /* Add some spacing between the image and text */
}

#needs editing 
ul {
    list-style-type: none; /* Remove default bullet points */
}

ul > li {
    background: url('top-level-marker.png') no-repeat left center; 
    padding-left: 20px; 
}

/* Styling for nested unordered list */
ul ul > li {
    background: url('nested-level-marker.png') no-repeat left center; 
}

ol {
    list-style-type: decimal; /* Use Arabic digits for top-level items */
}

ol ol {
    list-style-type: lower-alpha; /* Use lowercase alphabetical characters for nested items */
}
